<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
        <% include ../static/partials/messages.ejs %>

        <main class="grid-container">
            <div class="grid-x grid-padding-y">
                <div class="cell small-12">
                    <a class="button warning" href="/wikis/<%= wiki.id %>/edit">Edit</a>
                    <form style="display: initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
                        <button type="submit" class="button alert">Delete</button>
                    </form>
                </div>
                <div class="cell">
                    <h1>
                        <%= wiki.title %>
                        <span class="<%= wiki.private ? "success" : "primary" %> badge"><%= wiki.private ? "Private" : "Public" %></span>
                    </h1>
                    <span>Wiki Owner:</span> <a href="/users/<%= wiki.User.id %>"><%= wiki.User.username %></a>
                    <hr>
                </div>
                <div class="cell">
                    <%- wiki.body %>
                </div>
            </div>
        </main>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>